.Navbar {
    height: 5vh;
    background-color: rgba(234, 231, 220, 0.6);
    display:flex;
    padding: 25px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Montserrat Alternates', sans-serif;
    
    
}

img {
    width: 70px;
    height: 70px;

}

h1 {

}

.NavMenu {
   

}