


.App {
  background: linear-gradient(-45deg, #eae7dc, #d8c3a5, #e98074, #eae7dc);
	background-size: 700% 700%;
	animation: gradient 75s ease infinite;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	
	

  

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}




